article {
  margin-top: 5rem;
}
._title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  user-select: none;
}

.container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.left,
.right {
  width: 100%;
  padding: 30px 0px;
}

h2 {
  text-align: center;
  user-select: none;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  user-select: none;
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.input-group textarea {
  height: 150px;
}
button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #222222;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  color: #1ecbe9;
}

.right {
  text-indent: none;
  text-align: none;
  text-justify: none;
}

.right p {
  padding: 7px;
  font-size: 1.3rem;
  text-indent: none;
  text-align: none;
  text-justify: none;
}

.wrapper {
  margin-top: 2%;
  display: flex;
  justify-content: center; /* Horizontal alignment */
  align-items: center; /* Vertical alignment */
}
.wrapper a {
  text-decoration: none;
  color: #fff;
}
.wrapper .button {
  /* display: inline-block; */
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover {
  width: 200px;
}
.wrapper .button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) .icon {
  background: #4267b2;
}
.wrapper .button:nth-child(2) .icon {
  background: #1da1f2;
}
.wrapper .button:nth-child(3) .icon {
  background: #e1306c;
}
.wrapper .button:nth-child(4) .icon {
  background: #333;
}
.wrapper .button:nth-child(5) .icon {
  background: #ff0000;
}
.wrapper .button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i {
  color: #fff;
}
.wrapper .button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span {
  color: #4267b2;
}
.wrapper .button:nth-child(2) span {
  color: #1da1f2;
}
.wrapper .button:nth-child(3) span {
  color: #e1306c;
}
.wrapper .button:nth-child(4) span {
  color: #333;
}
.wrapper .button:nth-child(5) span {
  color: #ff0000;
}
.button-container {
  margin-top: 4%;
  text-align: center;
}

/* Style for the button */

.whatsapp-button {
  background-color: #222222; /* WhatsApp green */
  color: #fff; /* White text */
  border: none;
  padding: 10px 30px;
  font-size: 20px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}
.whatsapp-button:hover {
  color: #1ecbe9; /* White text */
}
/* Style for the WhatsApp icon */
.whatsapp-icon {
  margin-right: 10px; /* Add some spacing between icon and text */
}
/* Responsive Styles */

@media (min-width: 1070px) {
  .left,
  .right {
    width: 50%;
    padding: 15px;
  }
}
@media (max-width: 800px) {
  ._title {
    font-size: 2rem;
  }
  .SocialMedia {
    display: none;
  }
  .right p {
    padding: 5px;
    font-size: 0.9rem;
    text-indent: 0;
    text-align: center;
    text-justify: none;
  }
}
@media (max-width: 950px) {
  .wrapper .button {
    /* display: inline-block; */
    height: 60px;
    width: 60px;
    float: left;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
  }
}
